<div class="container">
	<h1 class="main-title">Bienvenue sur TheFacebookProject <i class="em em-bouquet"></i></h1>
	<a href= "<%= user_new_path %>" class="btn btn-success">Inscription <i class="far fa-file"></i></a>
	<a href= "#" class="btn btn-success">Connexion <i class="far fa-file-alt"></i></a>
	<div class="main-vids">
	<iframe class="vids" width="560" height="315" src="https://www.youtube.com/embed/NbZ0KD2Jcr0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>

